@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, *::after, *::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-family-main)
}

body{
  font-family: var(--font-family-main);
  font-size: 14px;
  font-weight: 700;
}


:root{
  --light-sub-color : hsl(320, 60%, 90%);
  --main-color : hsl(200, 70%, 50%);
  --light-main-color : hsl(200, 70%, 80%);
  --dark-main-color : hsl(200, 30%, 40%);
  --font-family-main : Montserrat;
  --font-family-cursive : 'Great Vibes', cursive;
}


::-webkit-scrollbar{
  width: 10px
}

::-webkit-scrollbar-track{
  background-color: #f4f4fc;
  border-radius: .3rem;
}

::-webkit-scrollbar-thumb{
  background-color: #c6c6c6;
  border-radius: .3rem;
}